body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    background: white;  
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #b9bd48;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*************** HEADER - inicio ***************/
header {
    background-color: #FDF1EB;
    display: flex;
    justify-content: space-between;
    height: 70px;
    box-sizing: border-box;
}

div#img-evento {
    line-height: 70px;
    text-align: center;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    width: 220px;
    height: 70px;
    font-size: 30px;
    color: white;
}

div#titulos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 70px;
    margin-left: 30px;
    margin-top: 10px;
}

div#links-header {
    font-family: 'Quicksand', sans-serif;
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

div#idioma  {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
}

div#idioma a {
    color: black;
}

div#logimg {
    padding-right: 20px;
    display: flex;
    flex-grow: 1;  
}

div#login {
    text-align: right;
    flex-grow: 1;  
    padding-right: 10px;
}


div#imagem {
    align-items: center;
    margin: auto;
}

img#img-login {
    border-radius: 100%;
}


/*************** HEADER - fim ***************/


/*************** CONTAINER PRINCIPAL INICIO ***************/
#container {
    display: flex;
    box-sizing: border-box;
}
/*************** CONTAINER PRINCIPAL FIM ***************/

/*************** LATERAL ESQUERDA INICIO ***************/


aside#lateral-esquerda {
    width: 220px;
    background-color: white; 
    box-shadow: 10px 5px 5px #ccc; 
}

nav ul a {
    font-family: 'Quicksand', sans-serif;
    color: black;
    display: block;
    line-height: 35px;
    font-size: 0.9em;
    border-bottom: 2px solid #f3f3f3;
    padding-left: 15px;
}

nav ul a:hover, a:active {
    padding-left: 30px;
    background: #FDF1EB url(img/Rectangle\ 251.png) no-repeat left center;
}


/*************** LATERAL ESQUERDA FIM ***************/

/*************** CONTEUDO PRINCIPAL ***************/

div#conteudo-principal {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*
Caixa vídeo - início
*/
div#caixa-meio {
    display: flex;
    box-sizing: border-box;
    padding: 20px 50px;
    justify-content: space-between;
    border: 1px solid blue;
}

div#conteudo-video{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    color: #ED7839;
}

article {
    flex-grow: 2;
    padding-bottom: 30px;
}


aside#lateral-video {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
/*
Caixa vídeo - fim
*/

#links-direita {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Quicksand';
    padding-top: 13px;

}

#links-direita a {
    font-size: 0.9em;
    padding: 2px 10px;
    border-radius: 5px;
    background: #ED7839;
    color: white;
    margin-left: 10px;
}

#links-direita span {
    font-size: 14px;
    color: #ED7839;
    padding: 15px 0 10px 0;
    text-align: right;
    flex-grow: 2;
}

article#detalhes {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-family: "Quicksand";
    border: 1px solid #ECECEC;
    border-radius: 5px;
    border-top: none;
    margin-bottom: 30px;
}

article#detalhes ul {
    padding-left:20px;
    
}

article#detalhes span {
    padding-left:20px;
    margin-bottom: 20px;
}

ul#lugares {
    color: #E7E7E7;
    padding-top: 20px;
}

article#detalhes h3 {
    border: 2px solid #ECECEC;
    background: #FDF1EB;
    padding-left: 10px;
    line-height: 35px;
    font-size: 1.1em;
    border-radius: 5px;
    margin: 0;
}

article#detalhes p {
    padding-left: 10px;

}

#inferior {
    border: 1px solid green;
    padding: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

div#resumo {
    border: 1px solid #ECECEC;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#resumo h3 {
    line-height: 35px;
    font-size: 1em;
    padding-left: 15px;
    background-color: #FDF1EB;
    margin: 0;
}

#resumo p {
    padding: 15px;
    margin: 0;
    line-height: 23px;
}

#discussoes {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    margin-top: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#discussoes > h3 {
    line-height: 35px;
    font-size: 1em;
    padding-left: 15px;
    background-color: #FDF1EB;
    margin: 0;

}

section#formulario {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    background: url(/img/divisória.png) no-repeat bottom;
    margin-bottom: 30px;
    margin-top: 20px;   
}

#formulario h3{
    text-align: center;
    margin-top: -20px;    
}

#formulario p {
    text-align: center;
    width: 620px;

    
}

#imgs-formulario {
    margin: 0 auto;

}

#imgs-formulario img {
    padding-left: 20px;
}

input {
    width: 133px;
    height: 30px;
    font-size: 1.1em;
    font-family: 'Quicksand';
    color: white;
    background: linear-gradient(#FFB354, #EE7A3A);
    margin-bottom: -33px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#perguntas {

    padding: 0px 20px;  
}

.discussoes {
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc; 
    margin-bottom: 30px;  
    line-height: 25px; 
    padding: 20px;
}

.discussoes span {
    display: block;   
}

.assunto-discussoes {
    font-size: 20px;
    color: #ED7839; 
    font-weight: bold;
}

.nome-discussoes {
    font-size: 15px;
    
}


/*************** FIM CONTEUDO PRINCIPAL ***************/

footer {
    border: 2px solid green;
}
