body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #b9bd48;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*************** HEADER - inicio ***************/
header {
    background-color: #FDF1EB;
    display: flex;
    justify-content: space-between;
    height: 70px;
    box-sizing: border-box;
}

div#img-evento {
    line-height: 70px;
    text-align: center;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    width: 220px;
    height: 70px;
    font-size: 30px;
    color: white;
}

div#titulos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 70px;
    margin-left: 30px;
    margin-top: 10px;
}

div#links-header {
    font-family: 'Quicksand', sans-serif;
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

div#idioma  {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
}

div#idioma a {
    color: black;
}

div#logimg {
    padding-right: 20px;
    display: flex;
    flex-grow: 1;  
}

div#login {
    text-align: right;
    flex-grow: 1;  
    padding-right: 10px;
}


div#imagem {
    align-items: center;
    margin: auto;
}

img#img-login {
    border-radius: 100%;
}


/*************** HEADER - fim ***************/


/*************** CONTAINER PRINCIPAL INICIO ***************/
#container {
    display: flex;
    box-sizing: border-box;
}
/*************** CONTAINER PRINCIPAL FIM ***************/

/*************** LATERAL ESQUERDA INICIO ***************/


aside#lateral-esquerda {
    width: 220px;
    background-color: white; 
    box-shadow: 10px 5px 5px #ccc; 
}

nav ul a {
    font-family: 'Quicksand', sans-serif;
    color: black;
    display: block;
    line-height: 35px;
    font-size: 0.9em;
    border-bottom: 2px solid #f3f3f3;
    padding-left: 15px;
}

nav ul a:hover, a:active {
    padding-left: 30px;
    background: #FDF1EB url(img/Rectangle\ 251.png) no-repeat left center;
}


/*************** LATERAL ESQUERDA FIM ***************/

/*************** CONTEUDO PRINCIPAL ***************/

div#conteudo-principal {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

/*
Caixa vídeo - início
*/
div#caixa-meio {
    display: flex;
    height: 600px;
    box-sizing: border-box;
}

div#conteudo-video{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding:0 50px 0 50px;
    color: #ED7839;
}

article {
    flex-grow: 2;
    padding-bottom: 30px;
}


aside#lateral-video {
    padding-right:40px;
    display: flex;
    flex-direction: column;
}
/*
Caixa vídeo - fim
*/

#links-direita {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Quicksand';
    padding-top: 13px;

}

#links-direita a {
    font-size: 0.9em;
    padding: 2px 10px;
    border-radius: 5px;
    background: #ED7839;
    color: white;
    margin-left: 10px;
}

#links-direita span {
    font-size: 14px;
    color: #ED7839;
    padding: 15px 0 10px 0;
    margin-left: 49px;  
}

article#detalhes {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-family: "Quicksand";
    border: 1px solid #ECECEC;
    border-radius: 5px;
    border-top: none;
    margin-bottom: 30px;
}

article#detalhes ul {
    padding-left:20px;
    
}

article#detalhes span {
    padding-left:20px;
    margin-bottom: 20px;
}

ul#lugares {
    color: #E7E7E7;
    padding-top: 20px;
}

article#detalhes h3 {
    border: 2px solid #ECECEC;
    background: #FDF1EB;
    padding-left: 10px;
    line-height: 35px;
    font-size: 1.1em;
    border-radius: 5px;
    margin: 0;
}

article#detalhes p {
    padding-left: 10px;

}

/*************** FIM CONTEUDO PRINCIPAL ***************/

footer {
    border: 2px solid green;
}
